.serif{
    font-family: serif;
    font-size: 20px;
}

.sans-serif{
    font-family: sans-serif;
    font-size: 20px;
}

.monospace{
    font-family: monospace;
    font-size: 20px;
}

.google-title{

    font-family: "Poppins";
    font-weight: 600;
}
.google-text{
    font-family: "Inter";
    font-weight: 400;
}